<div id="header" class="main-header-box">
    <div class="header-background-layer">
        <img src="./../../assets/img/backgrounds/header_background.png">
    </div>

    <div class="dev-header-profile-img">
        <img class="dev-img" src="./../../assets/img/profile/profile_1_no_background.png">
        <div class="shadow-box">
            <img class="profile-shadow-green" src="./../../assets/img/backgrounds/shadow/GReen shadow.png">
            <img class="profile-shadow-purple" src="./../../assets/img/backgrounds/shadow/Purple shadow.png">
        </div>
    </div>

    <div class="header-welcome-box">
        <div class="header-welcome-text">
            <div class="main-rotate-text">
                <div class="rotate-text2">I am</div>
            </div>
            <div class="main-greeting-box">
                <div class="developer-name">Edip Ruben Bahcecioglu</div>
                <div class="developer-position">FRONTEND DEVELOPER</div>
            </div>
        </div>
        <div class="connect-btn">
            <button (click)="scrollTo('contact')">Let's talk</button>
        </div>
    </div>


</div>

<div class="dev-contact-links">
    <div class="purple-border"></div>
    <div class="dev-contact-icons">
        <img title="Github" (click)="openLink('https://github.com/EdipRubenBahcecioglu')" src="./../assets/img/socials/github.png">
        <img title="Mail" (click)="openMail('edip-bahcecioglu@hotmail.de')" src="./../assets/img/socials/mail.png">
        <img title="LinkedIn" (click)="openLink('https://www.linkedin.com/in/edip-ruben-bahcecioglu-6b5095266/')" src="./../assets/img/socials/linked_in.png">
        <span title="Xing" (click)="openLink('https://www.xing.com/profile/EdipRuben_Bahcecioglu/cv')" class="alternative-xing-logo">X</span>
    </div>
    <div class="dev-contact-mail">
        edip-bahcecioglu@hotmail.de
    </div>
</div>

<div class="scroll-down-info">
    <div class="scroll-down-text">Scroll down</div>
    <div>
        <img src="./../../assets/img/others/arrow_down.png">
    </div>
</div>

<app-about-me></app-about-me>
<app-my-skills></app-my-skills>
<app-portfolio></app-portfolio>
<app-contact-form></app-contact-form>