<div class="main-header-box">
    <div class="header-background-layer">
        <img src="./../../assets/img/backgrounds/header_background.png">
    </div>

    <div class="dev-header-profile-img">
        <img src="./../../assets/img/profile/profile_1_no_background.png">
        <img class="profile-shadow-green" src="./../../assets/img/backgrounds/shadow/GReen shadow.png">
        <img class="profile-shadow-purple" src="./../../assets/img/backgrounds/shadow/Purple shadow.png">
    </div>

    <!-- <div class="dev-welcome-text">
        <div class="dev-welcome-subbox">
            <div class="rotate-text">
                <div>I am</div>
            <div class="dev-info-box">
                <span class="dev-name">Edip Ruben Bahcecioglu</span>
                <span class="dev-job">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <div class="dev-connect-btn">
            <button class="connect-btn">Let´s talk!</button>
        </div>
    </div> -->

    <div class="header-welcome-box">
        <div class="header-welcome-text">
            <div class="main-rotate-text">
                <div class="rotate-text2">I am</div>
            </div>
            <div class="main-greeting-box">
                <div class="developer-name">Edip Ruben Bahcecioglu</div>
                <div class="developer-position">FRONTEND DEVELOPER</div>
            </div>
        </div>
        <div class="connect-btn">
            <button>Let's talk</button>
        </div>
    </div>


</div>

<div class="dev-contact-links">
    <div class="purple-border"></div>
    <div class="dev-contact-icons">
        <img src="../../assets/img/socials/github.png">
        <img src="../../assets/img/socials/mail.png">
        <img src="../../assets/img/socials/linked_in.png">
    </div>
    <div class="dev-contact-mail">
        edip-bahcecioglu@hotmail.de
    </div>
</div>

<div class="scroll-down-info">
    <div class="scroll-down-text">Scroll down</div>
    <div>
        <img src="./../../assets/img/others/arrow_down.png">
    </div>
</div>