<div class="main-footer-box">
    <div class="dev-name-impressum">
        <div class="dev-name">Edip Ruben</div>
        <div class="impressum">Impressum</div>
    </div>

    <div class="copyright">
        <div class="copyright-img">
            <img src="../../assets/img/others/copyright.png">
        </div>
        <div class="copyright-name">
            Edip Ruben 2022
        </div>
    </div>

    <div class="social-links">
        <img src="../../assets/img/socials/github.png">
        <img src="../../assets/img/socials/mail.png">
        <img src="../../assets/img/socials/linked_in.png">
    </div>
</div>