.main-about-me-box{
    height: calc(100vh - 100px);
    width: 100vw;
    max-width: 100%;
    display: flex;
    color: white;
    position: relative;

    @media (max-width: 970px){
        align-items: center;
        flex-direction: column;
        justify-content: center;   
    }
}

.about-me{
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;

    @media (max-width: 1130px){
        padding-left: 100px;   
    }

    @media (max-width: 970px){
        padding-left: 0px;
        margin-top: 50px;
        align-items: center;
        margin-bottom: 50px;
    }
}

.about-me-text{
    width: 75%;
    margin-bottom: 24px;

    @media (max-width: 1290px){
        width: 90%;   
    }

    @media (max-width: 1070px){
        font-size: 14px;
    }

    @media (max-width: 970px){
        width: 100%;   
    }
}

.about-me-dev-img{
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;

    @media (max-width: 1130px){
        margin-right: 100px;   
    }

    @media (max-width: 970px){
        margin-right: 0px;
        box-sizing: border-box;   
    }

    img{
        height: 510px;
        width: 510px;
        object-fit: cover;
        border-radius: 100%;
        border: 4px solid #00bee8;
        z-index: 2;
        background: #182235;

        @media (max-width: 1290px){
            height: 340px;
            width: 340px;
        }

        @media (max-width: 970px){
            height: 250px;
            width: 250px;
        }
    }
}

.about-me-headline{
    font-size: 72px;
    margin-bottom: 24px;
    font-weight: bold;

    @media (max-width: 1290px){
        font-size: 60px;
    }

    @media (max-width: 1070px){
        font-size: 55px;
    }
}

.main-share-text{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    width: 75%;

    @media (max-width: 1290px){
        width: 85%;   
    }

    @media (max-width: 970px){
        width: 100%;   
    }
}

.share-text{
    margin-left: 18px;
    width: 100%;

    @media (max-width: 1070px){
        font-size: 14px;
    }
}

.about-me-background-shadow{
    position: absolute;
    right: 0px;
    top: -230px;
    height: 900px;
    z-index: -1;
}

.blue-border{
    background-color: #00bee8;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 530px;

    @media (max-width: 1290px){
        width: 400px;
    }

    @media (max-width: 970px){
        display: none;   
    }
}

