<div id="about-me" class="main-about-me-box">
    <div class="about-me">
        <div class="about-me-headline">
            About me
        </div>
        <div class="about-me-text">
            Hello, my name is Edip Ruben Bahcecioglu and I am 26 years young.
            I currently live in Cologne with my wife and have been working successfully as a banker for 9 years. 
            I speak three languages - Arabic, English and German. 
        </div>

        <div class="dev-share-box">
            <div class="main-share-text">
                <div class="share-img">
                    <img src="./../../assets/img/others/lamp.png">
                </div>
                <div class="share-text">
                    Since I have been interested in programming from an early age, 
                    I completed a one-year part-time training program to become a software developer at the Developer Academy.
                    The training was very practice-oriented.
                    Here I was allowed to gain a lot of knowledge in the programming world, which I could successfully apply in my projects.
                </div>
            </div>
        </div>

        <div class="main-share-text">
            <div class="share-img">
                <img src="./../../assets/img/others/puzzle.png">
            </div>
            <div class="share-text">
                Apart from working I love to spend time with my family or in nature. I also love to barbecue or spend time with my car. 
                There is also a little gamer in me.
            </div>
        </div>
    </div>

    <div class="about-me-dev-img">
        <img src="./../../assets/img/profile/profile_2_no_background_zoom.png">
    </div>

    <img class="about-me-background-shadow" src="./../../assets/img/backgrounds/shadow/purple_shadow_right_about_me.png">
    <div class="blue-border"></div>
</div>