<div id="about-me" class="main-about-me-box">
    <div class="about-me">
        <div class="about-me-headline">
            About me
        </div>
        <div class="about-me-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id quod deserunt animi ipsa ducimus non,
            molestias beatae accusamus inventore maxime voluptatum fugiat optio dolore accusantium aspernatur!
            Mollitia libero veritatis quidem.
        </div>

        <div class="dev-share-box">
            <div class="main-share-text">
                <div class="share-img">
                    <img src="./../../assets/img/others/lamp.png">
                </div>
                <div class="share-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsum, aliquid natus saepe molestiae
                    iste voluptatibus ipsam velit hic. Assumenda iusto dolorem necessitatibus corporis modi sit omnis,
                    corrupti labore molestias.
                </div>
            </div>
        </div>

        <div class="main-share-text">
            <div class="share-img">
                <img src="./../../assets/img/others/puzzle.png">
            </div>
            <div class="share-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, quidem fugit? Quod quo ratione
                possimus, tenetur quas culpa eligendi dicta, officiis aspernatur laudantium eos at odio autem, voluptas
                nisi. Quasi.
            </div>
        </div>
    </div>

    <div class="about-me-dev-img">
        <img src="./../../assets/img/profile/profile_2_no_background_zoom.png">
    </div>

    <img class="about-me-background-shadow" src="./../../assets/img/backgrounds/shadow/purple_shadow_right_about_me.png">
    <div class="blue-border"></div>
</div>