.main-contact-box {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: relative;
    border-bottom: 4px solid #00BEE8;

    @media (max-width: 970px){
        padding-top: 100px;
    }

    @media (max-width: 660px){
        padding-top: 75px; // war 90 
    }

    @media (max-width: 625px) {
        height: 845px;
    }

    @media (max-width: 575px) {
        height: 900px;
    }
}

.main-header-box {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 970px){
        justify-content: center;
        position: relative;
    }
}

.purple-border {
    border: 4px solid #4B47FF;
    width: 100px;
    height: 0px;

    @media (max-width: 1130px){
        width: 60px;   
    }

    @media (max-width: 970px){
        position: absolute;
        width: 100px;
        left: 0px;
    }

    @media (max-width: 550px) {
        width: 50px;       
    }

    @media (max-width: 310px) {
        width: 35px;       
    }
}

.header-text {
    font-size: 90px;
    color: white;
    margin-left: 42px;
    font-weight: bold;

    @media (max-width: 1130px){
        margin-left: 32px;   
    }

    @media (max-width: 1290px){
        font-size: 70px;
    }

    @media (max-width: 1070px){
        font-size: 65px;
    }

    @media (max-width: 970px){
        margin-left: 0px;
    }

    @media (max-width: 660px){
        font-size: 60px;
    }

    @media (max-width: 550px) {
        font-size: 55px;       
    }

    @media (max-width: 480px) {
        font-size: 45px;       
    }

    @media (max-width: 400px) {
        font-size: 40px;       
    }

    @media (max-width: 350px) {
        font-size: 35px;       
    }
}

.contact-box {
    height: calc(100% - 136px);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 970px){
        align-items: center;
        flex-direction: column;
        height: auto;   
    }
}

.headline {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;

    @media (max-width: 1290px){
        font-size: 28px;   
    }

    @media (max-width: 1070px){
        font-size: 24px;
    }

    @media (max-width: 350px) {
        font-size: 20px;       
    }

    @media (max-height: 915px){
        font-size: 20px;       
    }
}

.contact-text {
    margin-bottom: 24px;
    width: 57%;
    font-size: 16px;

    @media (max-width: 1070px){
        font-size: 14px;
    }

    @media (max-width: 970px){
        width: 100%;   
    }
}

.main-contact-text-box {
    margin-left: 150px;
    width: 50vw;
    color: white;
    padding-top: 100px;

    @media (max-width: 1130px){
        margin-left: 100px;   
    }

    @media (max-width: 970px){
        margin-left: 0px;
        padding-top: 0px;
        margin-bottom: 35px;
        text-align: center;   
    }

    @media (max-width: 550px) {
        width: 70vw;       
    }
}

.purple-shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -3;
    height: 50%;
    width: 50%;

    img {
        height: 100%;
        width: 100%;
    }
}

.contact-form {
    width: 50vw;
    margin-right: 150px;
    padding-top: 100px;
    height: calc(100vh - 336px);

    @media (max-width: 1130px){
        margin-right: 100px;   
    }

    @media (max-width: 970px){
        margin-top: 0px;
        margin-right: 0px;
        padding-top: 0px;
    }

    @media (max-width: 510px) {
        width: 70vw;       
    }

    form {
        display: flex;
        flex-direction: column;
        height: 510px;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-family: 'Poppins';
        font-style: normal;

        @media (max-width: 400px) {
            height: 475px;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 15px 25px;
            background: #141D2F;
            border: 1px solid #4B47FF;
            color: white;
            outline: none;

            &:hover {
                border: 1px solid #00BEE8;
                cursor: pointer;
            }

            &::placeholder {
                color: white;
                font-size: 16px;
            }
        }

        textarea {
            width: 100%;
            height: 235px;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 15px 25px;
            background: #141D2F;
            border: 1px solid #4B47FF;
            resize: none;
            font-family: 'Poppins';
            font-style: normal;
            color: white;
            outline: none;

            @media (max-width: 970px){
                height: 170px;
            }

            &:hover {
                border: 1px solid #00BEE8;
                cursor: pointer;
            }

            &::placeholder {
                color: white;
                font-size: 16px;
            }
        }

        button {
            width: 253px;
            height: 58px;
            padding: 15px 30px 3;
            padding: 15px 30px 30px 15px;
            background: #00BEE8;
            font-size: 23px;
            color: white;
            border-radius: 10px;
            border: none;
            outline: none;
            box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
            transition: all 125ms ease-in;

            @media (max-width: 1070px){
                width: 200px;
                height: 50px;
                font-size: 20px;
            }

            @media (max-width: 915px){
                padding: 0px;
            }

            @media (max-width: 290px) {
                font-size: 18px;
            }

            &:hover {
                background-color: #4B47FF;
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}

.arrow-up-box {
    position: absolute;
    bottom: 15px;
    right: 150px;
    border: 1px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;

    @media (max-width: 1130px){
        right: 100px;
    }

    @media (max-width: 660px) {
        right: 50px;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(76%) sepia(34%) saturate(5432%) hue-rotate(146deg) brightness(88%) contrast(109%);
    }
}

.inputAlert {
    border: 1px solid #e61c40 !important;
}

.required-hint {
    width: 100%;
    font-size: 12px;
    color: #e61c40;
}

.solo-input-field {
    width: 100%;
    display: flex;
    position: relative;
}

.input-feedback {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    right: 15px;
}

.inputSucces {
    border: 1px solid #70e61c !important
}

.send-button {
    display: flex;
    align-items: center;
    height: 58px;
    position: relative;
    width: 450px;
    justify-content: center;
    max-width: 100%;

    @media (max-width: 970px){
        padding-bottom: 35px;   
    }

    img{
        position: absolute;
        right: 0px;
        transition: all 225ms ease-in-out;
    }
}

.send-button ::ng-deep .mat-progress-spinner circle,
mat-spinner- circle {
    stroke: #ffffff;
}

.send-button ::ng-deep .mat-progress-spinner svg,
mat-spinner- svg {
    width: 75% !important;
    height: 75% !important;
    position: absolute;
    left: 0px;
    top: 5px;
}

.mat-spinner {
    height: 58px !important;
    width: 58px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
}

.last-words{
    @media (max-width: 1070px){
        font-size: 14px;
    }
}