<div id="contact" class="main-contact-box">
    <div class="main-header-box">
        <div class="purple-border"></div>
        <div class="header-text">
            Contact
        </div>
    </div>

    <div class="contact-box">
        <div class="main-contact-text-box">
            <div class="headline">Got a problem to solve?</div>
            <div class="contact-text">
                Contact me through this form, I am interested in hearing you, knowing ideas and constributing to your projects with my work.
            </div>
            <div class="last-words">
                Need a Frontend developer? <b>Contact me!</b>
            </div>
        </div>

        <div class="contact-form">
            <form (submit)="sendMail()" #myform ngNativeValidate #myForm>
                <div class="solo-input-field">
                    <input (click)="checkUserInput('name')" (keyup)="checkUserInput('name')" [class.inputSucces]="nameLength" [class.inputAlert]="requiredHintName" required type="text" name="name" #nameField placeholder="Your name">
                    <div class="input-feedback">   
                        <img *ngIf="requiredHintName" src="../../assets/img/others/warning.png">
                        <img *ngIf="nameLength" src="../../assets/img/others/succes.png">
                    </div>
                </div>
                <div *ngIf="requiredHintName" class="required-hint">Your name is required</div>

                <div class="solo-input-field">
                    <input (click)="checkUserInputMail()" (keyup)="checkUserInputMail()" [class.inputSucces]="emailLength" [class.inputAlert]="requiredHintMail" required type="email" name="email" #emailField placeholder="Your email">
                    <div class="input-feedback">
                        <img *ngIf="requiredHintMail" src="../../assets/img/others/warning.png">
                        <img *ngIf="emailLength" src="../../assets/img/others/succes.png">
                    </div>
                </div>
                <div *ngIf="requiredHintMail" class="required-hint">Your email is required</div>


                <div class="solo-input-field">
                    <textarea (click)="checkUserInput('message')" (keyup)="checkUserInput('message')" [class.inputSucces]="messageLength" [class.inputAlert]="requiredHintMessage" required type="text" name="message" #messageField placeholder="Your text"></textarea>
                    <div class="input-feedback">
                        <img *ngIf="requiredHintMessage" src="../../assets/img/others/warning.png">
                        <img *ngIf="messageLength" src="../../assets/img/others/succes.png">
                    </div>
                </div>
                <div *ngIf="requiredHintMessage" class="required-hint">Your message is empty</div>
                <div class="send-button">
                    <button type="submit" #sendButton>Send Message :)</button> 
                    <mat-spinner color="Warn"></mat-spinner>
                </div>
            </form>
        </div>
    </div>

    <div class="purple-shadow">
        <img src="../../assets/img/backgrounds/shadow/contact-shadow.png">
    </div>

    <div class="arrow-up-box" (click)="scrollTop()">
        <img src="../../assets/img/others/arrow-up.png">
    </div>
</div>