<header>
    <div class="header-dev-name">
        <img src="./../../assets/img/favicon/logo_v2_w.png">
        <span>Edip Ruben</span>
    </div>
    <div class="header-navbar">
        <a (click)="scrollTo('about-me')">About me</a>
        <a (click)="scrollTo('skills')">Skills</a>
        <a (click)="scrollTo('portfolio')">Portfolio</a>
    </div>

    <div class="responsive-menu-icon">
        <img (click)="controllNavbar(); scrollTop()" src="./../../assets/img/others/responsive-menu.png">
    </div>
</header>

<div class="responsive-navbar" [ngClass]="showResNavbar ? 'd-unset' : 'd-none'">
    <div class="responsive-navbar-links">
        <a (click)="scrollTo('about-me'); controllNavbar()">About me</a>
        <a (click)="scrollTo('skills'); controllNavbar()">Skills</a>
        <a (click)="scrollTo('portfolio'); controllNavbar()">Portfolio</a>
        <a (click)="scrollTo('contact'); controllNavbar()">Contact</a>
    </div>
</div>