.solo-project-box {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;

    @media (max-width: 1130px){
        padding-right: 100px;
        padding-left: 100px;   
    }

    @media (max-width: 970px){
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        height: auto;
        padding-top: 25px;
    }

    @media (max-width: 625px) {
        margin-bottom: 0px;
    }
}

.laptop-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 350px;
        width: 450px;
        object-fit: cover;

        @media (max-width: 1130px){
            height: 260px;
            width: 380px;
        }

        @media (max-width: 1070px){
            height: 210px;
            width: 335px;
        }
    }
}

.project-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 970px){
        align-items: center;
        text-align: center;
    }

    @media (max-width: 625px) {
        width: 70%;
    }
}

.project-name {
    margin-bottom: 12px;
    font-size: 32px;
    color: #4B47FF;
    font-weight: bold;

    @media (max-width: 1070px){
        font-size: 28px;
    }
}

.project-language {
    margin-bottom: 12px;
    font-size: 23px;
    color: #00BEE8;

    @media (max-width: 1070px){
        font-size: 20px;
    }
}

.project-description {
    margin-bottom: 12px;
    width: 100%;
    font-size: 16px;
    color: white;

    @media (max-width: 1070px){
        font-size: 14   px;
    }
}

.project-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;

    @media (max-width: 1650px){
        width: 50%;
    }

    @media (max-width: 1500px){
        width: 55%;
    }

    @media (max-width: 1390px){
        width: 60%;
    }

    @media (max-width: 1280px){
        width: 70%;
    }

    @media (max-width: 750px){
        width: 85%;
    }
    
    @media (max-width: 625px) {
        width: 70%;
    }

    @media (max-width: 550px) {
        width: 80%;
    }

    @media (max-width: 510px) {
        width: 90%;       
    }

    button {
        transition: all 125ms ease-in-out;
        &:hover {
            background: #00BEE8;
            cursor: pointer;
        }
    }
}

.live-test button {
    width: 152px;
    height: 58px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    color: white;
    background: #4B47FF;
    border: none;
    font-size: 23px;
    outline: none;
    z-index: 2;

    @media (max-width: 1070px){
        font-size: 17px;
        height: 50px;
        width: 130px;
    }
}

.github button {
    width: 137px;
    height: 58px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: 1px sold;
    border: 1px solid #00BEE8;
    color: white;
    font-size: 23px;
    background: none;

    @media (max-width: 1070px){
        font-size: 17px;
        height: 50px;
        width: 130px;
    }
}

.otherDirectionProjectInfo{
    align-items: flex-end;

    @media (max-width: 970px){
        align-items: center;
    }
}

.otherDirectionSoloProject{
    flex-direction: row-reverse;

    @media (max-width: 970px){
        flex-direction: column;
    }
}

.otherDirectionProjectDescription{
    @media (max-width: 970px){
        text-align: center;
    }
}