<div id="portfolio" class="header-box">
    <div class="border-left"></div>
    <div class="header">Portfolio</div>
    <div class="border-right"></div>
</div>

<div class="main-portfolio-box">
    <div class="alert-text">
        This page is a sample of my work - please feel free to try them out.
    </div>
    <div class="solo-project"> 
        <app-solo-project flexDirection="false"
        [projectname]="'Join'" 
        [projectLanguage]="'JavaScript | HTML | CSS | Storage | Github'" 
        [projectDescription]="'Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.'"
        [liveTestLink]="'https://edip-bahcecioglu.developerakademie.net/Join/'"
        [githubLink]="'https://github.com/TobiasUllrich/JOIN'"
        [projectImgPath]="'join2.png'">
    </app-solo-project>

    <app-solo-project flexDirection="true"
    [projectname]="'El Pollo Loco'" 
    [projectLanguage]="'JavaScript | HTML | CSS | Github'" 
    [projectDescription]="'Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.'"
    [liveTestLink]="'https://edip-bahcecioglu.developerakademie.net/ElPolloLoco/'"
    [githubLink]="'https://github.com/EdipRubenBahcecioglu/ElPolloLoco'"
    [projectImgPath]="'pollo_loco.png'">
    </app-solo-project>

    <app-solo-project flexDirection="false"
    [projectname]="'Pokedex'" 
    [projectLanguage]="'JavaScript | HTML | CSS | Github | API'" 
    [projectDescription]="'Based on the PokéAPI a simple library that provides and catalogues pokemon information.'"
    [liveTestLink]="'https://edip-bahcecioglu.developerakademie.net/Projekt%20Pokemon/pokemon.html'"
    [githubLink]="'https://github.com/EdipRubenBahcecioglu/ElPolloLoco'"
    [projectImgPath]="'pokedex2.png'">
    </app-solo-project>
    </div>

    <div class="background-shadow">
        <img src="./../assets/img/backgrounds/shadow/portfolio-shadow.png">
    </div>
</div>
 