<div class="header-box">
    <div class="border-left"></div>
    <div class="header">Portfolio</div>
    <div class="border-right"></div>
</div>

<div class="main-portfolio-box">
    <div class="solo-project"> 
        <app-solo-project flexDirection="false"
        [projectname]="'Join'" 
        [projectLanguage]="'JavaScript | HTML | CSS | Storage | Github'" 
        [projectDescription]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sapiente debitis pariatur reprehenderit! Tenetur laboriosam facilis, sunt modi odit ut excepturi. Blanditiis libero ab beatae sit ea quaerat ex dolores.'"
        [liveTestLink]="'https://edip-bahcecioglu.developerakademie.net/Join/'"
        [githubLink]="'https://github.com/TobiasUllrich/JOIN'"
        [projectImgPath]="'join2.png'">
    </app-solo-project>

    <app-solo-project flexDirection="true"
    [projectname]="'El Pollo Loco'" 
    [projectLanguage]="'JavaScript | HTML | CSS | Github'" 
    [projectDescription]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sapiente debitis pariatur reprehenderit! Tenetur laboriosam facilis, sunt modi odit ut excepturi. Blanditiis libero ab beatae sit ea quaerat ex dolores.'"
    [liveTestLink]="'https://edip-bahcecioglu.developerakademie.net/ElPolloLoco/'"
    [githubLink]="'https://github.com/EdipRubenBahcecioglu/ElPolloLoco'"
    [projectImgPath]="'pollo_loco.png'">
    </app-solo-project>

    <app-solo-project flexDirection="false"
    [projectname]="'Pokedex'" 
    [projectLanguage]="'JavaScript | HTML | CSS | Github | API'" 
    [projectDescription]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sapiente debitis pariatur reprehenderit! Tenetur laboriosam facilis, sunt modi odit ut excepturi. Blanditiis libero ab beatae sit ea quaerat ex dolores.'"
    [liveTestLink]="'https://edip-bahcecioglu.developerakademie.net/Projekt%20Pokemon/pokemon.html'"
    [githubLink]="'https://github.com/EdipRubenBahcecioglu/ElPolloLoco'"
    [projectImgPath]="'pokedex2.png'">
    </app-solo-project>
    </div>
</div>
 