
    <div id="skills" class="main-skills-box">
        <div class="skills-icons">
            <div>
                <img src="./../../assets/img/skills-icons/angular.png" alt="">
                <span>Angular</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/typescript.png" alt="">
                <span>TypeScript</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/javascript.png" alt="">
                <span>Javascript</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/html.png" alt="">
                <span>HTML</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/firebase.png" alt="">
                <span>Firebase</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/git.png" alt="">
                <span>Git</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/css.png" alt="">
                <span>CSS</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/api.png" alt="">
                <span>Rest-API</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/scrum.png" alt="">
                <span>Scrum</span>
            </div>
            <div>
                <img src="./../../assets/img/skills-icons/material-design.png" alt="">
                <span>Material design</span>
            </div>
        </div>
        <div class="skills-text-box">
            <div class="skills-headline">My skills</div>
            <div class="skills-text">I have grown my frontend developments skills that have allowed me to create
                diffrent real projects.</div>
            <div class="skills-btn">
                <button (click)="scrollTo('contact')">Get in touch</button>
            </div>
        </div>
        <div class="blue-border"></div>
        <div class="shadow-background">
            <img src="./../../assets/img/backgrounds/shadow/shadow-skills.png">
        </div>
    </div>