<div class="main-impressum-box">
    <div class="header">
        <h1>Impressum</h1>
        <h3>Angaben gem. § 5 TMG:</h3>
    </div>

    <div class="developer-info">
        <span>Frontend Entwickler / Softwareentwickler</span>
        <span>Edip Ruben Bahcecioglu</span>
    </div>

    <div class="developer-adress">
        <span>Postanschrift:</span>
        <span>Dornstr. 31</span>
        <span>50769 Köln</span>
        <span>Telefon: +4917662088948</span>
        <span>E-Mail: edip-bahcecioglu@hotmail.de</span>
    </div>

    <div class="important-information">
        <h3>Hinweise zur Website</h3>
        <h4>Urheberrechtliche Hinweise: </h4>
        <span>https://logomakr.com/app/, https://www.iconsdb.com/, https://gwfh.mranftl.com/fonts, https://www.flaticon.com/</span><br>
        <h4>Information gemäß § 36 VSBG</h4><br>
        <span>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website</span>
        <span>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</span>
    </div>
</div>