/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    background-color: #182235;
    overflow-x: hidden;
    font-family: 'Poppins';
    font-style: normal;
    scroll-behavior: smooth;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
